force-app/main/default/flows/Create_Time_Sheet_Entries_on_Appointment_End.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Sets the value of Id to recordId.</description>
        <name>SetIdForDesktop</name>
        <label>Set ID for Desktop</label>
        <locationX>424</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ParentWorkOrderId to the ID of the triggering record’s parent work order.</description>
        <name>SetParentWorkOrderId</name>
        <label>Set Parent Work Order ID</label>
        <locationX>72</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssignedResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ParentWorkOrderLineItemId to the ID of the triggering record’s parent work order line item.</description>
        <name>SetParentWorkOrderLineItemId</name>
        <label>Set Parent Work Order Line Item ID</label>
        <locationX>336</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ParentWorkOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssignedResource</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the default interval time between completing a work order and starting the drive time for the next work order. To customize this value, change 1 to the value you want to use.</description>
        <name>DefaultIntervalTime</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Stores the default subject to use for time sheet entry records with the Drive Time category. To use your own default subject, replace this constant’s value.</description>
        <name>DefaultTimeSheetSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-Created Time Sheet Entry for Drive Time</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the flow was triggered from the Field Service mobile app and therefore has a value for ID.</description>
        <name>HasId</name>
        <label>Has ID?</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SetIdForDesktop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsIdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceAppointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a time sheet record was found by checking if an ID is stored in the TimeSheetId variable.</description>
        <name>HasTimeSheet</name>
        <label>Has Time Sheet ?</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsTimeSheetExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTimeSheetEntry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether TimeSheetWorkItemId contains a value.</description>
        <name>HasTimeSheetEntryForWorkTime</name>
        <label>Has Time Sheet Entry for Work Time?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>CreateTimeSheetEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsTimeSheetEntryForWorkTimeExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryWorkTimeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTimeSheetEntry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines the triggering record’s parent record type.</description>
        <name>WhatTypeOfParentRecord</name>
        <label>What Type of Parent Record?</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <rules>
            <name>IsWorkOrderType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParentWorkOrderId</targetReference>
            </connector>
            <label>Work Order</label>
        </rules>
        <rules>
            <name>IsWorkOrderLineItemType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrderLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetParentWorkOrderLineItemId</targetReference>
            </connector>
            <label>Work Order Line Item</label>
        </rules>
    </decisions>
    <description>Updates the current time sheet entry and creates a time sheet entry when the field service resource completes the appointment.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the date and time before the default interval time is added. To customize this value, change the value of the DefaultIntervalTime constant.</description>
        <name>CurrentDateTimeWithoutIntervalFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - {!DefaultIntervalTime}/24/60</expression>
    </formulas>
    <interviewLabel>Create Time Sheet Entries on Appointment End {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Time Sheet Entries on Appointment End</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates a time sheet entry record with the category set to DriveTime, the start time set to CurrentDateTimeWithoutIntervalFormula, the status set to New, the subject set to DefaultTimeSheetSubject, and the time sheet ID set to TimeSheetId. To customize the default interval time used to calculate the start time, change the value of the DefaultIntervalTime constant. To customize the default time sheet subject, change the value of the DefaultTimeSheetSubject constant.</description>
        <name>CreateTimeSheetEntry</name>
        <label>Create Time Sheet Entry</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>DriveTime</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>CurrentDateTimeWithoutIntervalFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultTimeSheetSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the assigned resource record with an ID that matches the ID passed into the flow. Stores the ID of the result in the ServiceResourceId variable.</description>
        <name>GetAssignedResource</name>
        <label>Get Assigned Resource</label>
        <locationX>336</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTimeSheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the service appointment record with an ID that matches the ID that was passed into the flow. Stores the parent record ID and the parent record type of the result in the ParentId and ParentType variables respectively.</description>
        <name>GetServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhatTypeOfParentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentType</assignToReference>
            <field>ParentRecordType</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the time sheet record with a start date and end date that match the current date, and a service resource ID that matches the assigned resource ID. Stores the ID of the result in the TimeSheetId variable.</description>
        <name>GetTimeSheet</name>
        <label>Get Time Sheet</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasTimeSheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the time sheet entry record with a time sheet ID that matches TimeSheetID, category that matches WorkTime, and either a work order ID that matches ParentWorkOrderId or a work order line item ID that matches ParentWorkOrderLineItemId. Stores the ID of the result in the TimeSheetEntryWorkItemId variable.</description>
        <name>GetTimeSheetEntry</name>
        <label>Get Time Sheet Entry</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasTimeSheetEntryForWorkTime</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkTime</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentWorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TimeSheetEntryWorkTimeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the time sheet entry record with an ID that matches TimeSheetEntryWorkTimeId, setting the EndTime to CurrentDateTimeWithoutIntervalFormula. To customize the default interval time used to calculate this value, change the value of the DefaultIntervalTime constant.</description>
        <name>UpdateTimeSheetEntry</name>
        <label>Update Time Sheet Entry</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>CreateTimeSheetEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryWorkTimeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>CurrentDateTimeWithoutIntervalFormula</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HasId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the service appointment record that was passed into the flow.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the parent record of the service appointment record that triggered the flow.</description>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the type of the parent record of the service appointment record that triggered the flow.</description>
        <name>ParentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the triggering record’s parent work order.</description>
        <name>ParentWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the triggering record’s parent work order line item.</description>
        <name>ParentWorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the service appointment record that was passed into the flow by a desktop user.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the assigned resource record associated with the ID of the record passed into the flow.</description>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the time sheet entry record with a category of WorkTime.</description>
        <name>TimeSheetEntryWorkTimeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the current day’s time sheet record associated with the ID of the record passed into the flow.</description>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
