force-app/main/default/flows/Create_Time_Sheet_Entries_on_Appointment_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>SetsParentWorkOrderId to the ParentRecordId variable value.</description>
        <name>SetParentWorkOrderIdVariable</name>
        <label>Set Parent Work Order ID Variable</label>
        <locationX>116</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssignedResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ParentWorkOrderLineItemId to the ParentRecordId variable value.</description>
        <name>SetParentWorkOrderLineItemIdVariable</name>
        <label>Set Parent Work Order Line Item ID Variable</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ParentWorkOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssignedResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets recordId variable to the value of Id.</description>
        <name>SetRecordIdVariable</name>
        <label>Set Record ID Variable</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetServiceAppointment</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the default interval time between completing the drive and starting work on the work order.</description>
        <name>DefaultIntervalWorkAndDriveTime</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the ID of the triggering record exists by checking if recordId is null.</description>
        <name>HaveId</name>
        <label>Have ID?</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SetRecordIdVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceAppointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a time sheet record was found by checking if TimeSheetId is null.</description>
        <name>HaveTimeSheet</name>
        <label>Have Time Sheet?</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTimeSheetEntryDriveTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a time sheet entry was found by checking if TimeSheetEntryDriveTimeId is null.</description>
        <name>HaveTimeSheetEntryDriveTime</name>
        <label>Have Time Sheet Entry?</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>CreateTimeSheetEntryDriveTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheetEntryDriveTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryDriveTimeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTimeSheetEntryDriveTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a time sheet entry for the work time category was found by checking if TimeSheetEntryWorkTimeId is null.</description>
        <name>HaveTimeSheetEntryWorkTime</name>
        <label>Have Time Sheet Entry?</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>CreateTimeSheetEntryWorkTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheetEntryWorkTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryWorkTimeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the parent record of the triggering record is a work order or a work order line item by checking if ParentRecordType is WorkOrder or WorkOrderLineItem.</description>
        <name>IsParentWorkOrderOrWorkOrderLineItem</name>
        <label>Is Parent Work Order or Work Order Line Item?</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <rules>
            <name>IsWorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkOrder</targetReference>
            </connector>
            <label>Work Order</label>
        </rules>
        <rules>
            <name>IsWorkOrderLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrderLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkOrderLineItem</targetReference>
            </connector>
            <label>Line Item</label>
        </rules>
    </decisions>
    <description>Creates or updates a time sheet entry and associates it with a work order or work order line item when a field service resource reaches the appointment location.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the date and time after the default interval time is added.</description>
        <name>CurrentDateTimePlusDefaultInterval</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + {!DefaultIntervalWorkAndDriveTime}/24/60</expression>
    </formulas>
    <formulas>
        <description>Generates the default subject to use for time sheet entry records with the Drive Time category</description>
        <name>DefaultSubjectForTimeSheetEntryDriveTime</name>
        <dataType>String</dataType>
        <expression>&quot;Automated Time Sheet Entry Created for &quot; + {!ServiceAppointmentNumber} + &quot; for Category DriveTime&quot;</expression>
    </formulas>
    <formulas>
        <description>Generates the default subject to use for time sheet entry records with the Work Time category.</description>
        <name>DefaultSubjectTimeSheetEntryDriveTime</name>
        <dataType>String</dataType>
        <expression>&quot;Automated Time Sheet Entry Created for &quot; + {!ServiceAppointmentNumber} + &quot; for Category WorkTime&quot;</expression>
    </formulas>
    <interviewLabel>Create Time Sheet Entries on Appointment Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Time Sheet Entries on Appointment Start</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates a time sheet entry record, setting the category to DriveTime, the cost center ID to the ParentCostCenterId, the end time to the current date and time, the job expense type ID to the ParentJobExpenseTypeId, the start time to TimeSheetStartTime, the status to New, the subject to the DefaultSubjectForTimeSheetEntryDriveTime, the time sheet ID to the TimeSheetId, the work order ID to ParentWorkOrderId, and the work order line item ID to ParentWorkOrderLineItemId.</description>
        <name>CreateTimeSheetEntryDriveTime</name>
        <label>Create Time Sheet Entry</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>GetTimeSheetEntryWorkTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>DriveTime</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CostCenterId</field>
            <value>
                <elementReference>ParentCostCenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobExpenseTypeId</field>
            <value>
                <elementReference>ParentJobExpenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultSubjectForTimeSheetEntryDriveTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderLineItemId</field>
            <value>
                <elementReference>ParentWorkOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a time sheet entry record, setting the category to WorkTime, the cost center ID to the ParentCostCenterId, the job expense type ID to the ParentJobExpenseTypeId, the start time set to CurrentDateTimePlusDefaultInterval, the status to New, the subject to the DefaultSubjectTimeSheetEntryDriveTime, the time sheet ID to TimeSheetId, the work order ID to ParentWorkOrderId, and the work order line item ID to ParentWorkOrderLineItemId.</description>
        <name>CreateTimeSheetEntryWorkTime</name>
        <label>Create Time Sheet Entry</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>WorkTime</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CostCenterId</field>
            <value>
                <elementReference>ParentCostCenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobExpenseTypeId</field>
            <value>
                <elementReference>ParentJobExpenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>CurrentDateTimePlusDefaultInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultSubjectTimeSheetEntryDriveTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderLineItemId</field>
            <value>
                <elementReference>ParentWorkOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <description>Gets the assigned resource record with an ID that matches id. Stores the ID of the result in the ServiceResourceId variable.</description>
        <name>GetAssignedResource</name>
        <label>Get Assigned Resource</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTimeSheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the service appointment record with an ID that matches the ID that was passed into the flow. Stores the parent record ID in the ParentRecordId variable, the parent record type in the ParentRecordType variable, and the appointment number in the ServiceAppointmentNumber variable.</description>
        <name>GetServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>380</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsParentWorkOrderOrWorkOrderLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointmentNumber</assignToReference>
            <field>AppointmentNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentRecordId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentRecordType</assignToReference>
            <field>ParentRecordType</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the time sheet record with the start date matching the current date, the end date matching the current date, and the service resource ID matching the ServiceResourceId variable value. Stores the ID of the result in TimeSheetId and the start date and time in TimeSheetStartDateTime.</description>
        <name>GetTimeSheet</name>
        <label>Get Time Sheet</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>TimeSheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeSheetStartDateTime</assignToReference>
            <field>StartDateTime</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the time sheet entry record with a time sheet ID that matches TimeSheetId and a category that is DriveTime. Stores the ID of the result in TimeSheetEntryDriveTimeId.</description>
        <name>GetTimeSheetEntryDriveTime</name>
        <label>Get Time Sheet Entry</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheetEntryDriveTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DriveTime</stringValue>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TimeSheetEntryDriveTimeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the time sheet entry record with a time sheet ID that matches TimeSheetId, a category that matches WorkTime, and a work order ID that matches ParentWorkOrderId or a work order line item ID that matches ParenWorkOrderLineItemId. Stores the ID of the result in the TimeSheetEntryWorkItemId variable.</description>
        <name>GetTimeSheetEntryWorkTime</name>
        <label>Get Time Sheet Entry</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheetEntryWorkTime</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkTime</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentWorkOrderLineItemId</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputAssignments>
            <assignToReference>TimeSheetEntryWorkTimeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the work order record with an ID that matches the ParentRecordId. Stores the cost center ID and job expense type ID of the result in the ParentCostCenterId and ParentJobExpenseTypeId variables respectively.</description>
        <name>GetWorkOrder</name>
        <label>Get Work Order</label>
        <locationX>116</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetParentWorkOrderIdVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>ParentCostCenterId</assignToReference>
            <field>CostCenterId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentJobExpenseTypeId</assignToReference>
            <field>JobExpenseTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the work order line item record with an ID that matches the ParentRecordId. Stores the cost center ID and job expense type ID of the result in the ParentCostCenterId and ParentJobExpenseTypeId variables respectively.</description>
        <name>GetWorkOrderLineItem</name>
        <label>Get Work Order Line Item</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetParentWorkOrderLineItemIdVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>ParentCostCenterId</assignToReference>
            <field>CostCenterId__NotFound</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentJobExpenseTypeId</assignToReference>
            <field>JobExpenseTypeId__NotFound</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the time sheet entry record with an ID that matches TimeSheetEntryDriveTimeId. Sets the cost center ID to ParentCostCenterId, the end time to the current date and time, the subject to the DefaultSubjectTimeSheetEntryDriveTimeCategory, work order ID to ParentWorkOrderId, and the Work Order Line Item ID to ParentWorkOrderLineItemId.</description>
        <name>UpdateTimeSheetEntryDriveTime</name>
        <label>Update Time Sheet Entry</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>GetTimeSheetEntryWorkTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeSheetEntryDriveTimeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CostCenterId</field>
            <value>
                <elementReference>ParentCostCenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobExpenseTypeId</field>
            <value>
                <elementReference>ParentJobExpenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DefaultSubjectForTimeSheetEntryDriveTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderLineItemId</field>
            <value>
                <elementReference>ParentWorkOrderLineItemId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID of the triggering record.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CostCenterId field of the work order record that triggered the flow.</description>
        <name>ParentCostCenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the JobExpenseTypeId field of the work order record that triggered the flow.</description>
        <name>ParentJobExpenseTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the parent record of the service appointment record.</description>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the type of the parent record of the service appointment record.</description>
        <name>ParentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the work order record, which is the parent of the triggering record.</description>
        <name>ParentWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the work order line item record, which is the parent of the triggering record.</description>
        <name>ParentWorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the triggering record passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the appointment number of the service appointment record.</description>
        <name>ServiceAppointmentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the assigned resource record.</description>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the time sheet entry record.</description>
        <name>TimeSheetEntryDriveTimeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the time sheet entry record.</description>
        <name>TimeSheetEntryWorkTimeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the time sheet record.</description>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the start time of the time sheet record.</description>
        <name>TimeSheetStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
