force-app/main/default/flows/Process_Timesheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Updates and validates a time sheet record.</description>
        <name>ProcessTimeSheet</name>
        <label>Process Time Sheet</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>validateTimesheetNotFound</actionName>
        <actionType>validateTimesheet</actionType>
        <faultConnector>
            <targetReference>UpdateTimeSheet</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TimeSheetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Process and validate the Timesheet.</description>
    <environments>Default</environments>
    <interviewLabel>Process Timesheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Timesheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the Status field to Error for the triggering time sheet record.</description>
        <name>UpdateTimeSheet</name>
        <label>Update Time Sheet</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Status field to Submitted for time sheet entry records related to the triggering time sheet record.</description>
        <name>UpdateTimeSheetEntries</name>
        <label>Update Time Sheet Entries</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>ProcessTimeSheet</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.TimeSheetEntries</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateTimeSheetEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>TimeSheet</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
